/* estilo desktop generales */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* font principal */
body {
  font-family: "Quicksand"; }

/* comportamiento links */
a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

ul {
  list-style: none; }

/* imagen logo */
.divImagenLogo {
  width: 100px; }
  .divImagenLogo img {
    object-fit: cover;
    width: 100%; }

/* header general */
header {
  background-color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem; }
  header .divRedes a img {
    width: 20px;
    height: 20px; }
  header .divRedes a .imgInstagram {
    margin-right: 0.2rem; }
  header .navegacion ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem; }
    header .navegacion ul .itemActual {
      /*menu actual*/
      background-color: whitesmoke; }
      header .navegacion ul .itemActual a {
        color: #2e55a5;
        padding: 0.2rem;
        border: 0.15rem dashed; }
    header .navegacion ul li {
      /* resto del los items del menu */
      padding: 0.3rem;
      background-color: #2e55a5;
      color: whitesmoke;
      text-align: center; }
      header .navegacion ul li a {
        text-transform: uppercase;
        font-size: large;
        color: whitesmoke; }

/*footer general*/
footer {
  background-color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem; }
  footer .ulProductos li a {
    font-weight: bold;
    color: #2e55a5; }
    footer .ulProductos li a img {
      width: 20px;
      height: 20px; }
  footer .ulRedes li {
    margin-bottom: 4px; }
    footer .ulRedes li a img {
      width: 20px;
      height: 20px; }
  footer figure figcaption {
    text-align: start;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem; }

/* estilo tablet generales */
@media screen and (max-width: 1000px) {
  header {
    padding: 1rem; }
    header .navegacion ul {
      flex-flow: column wrap; }
      header .navegacion ul ul li a {
        font-size: 0.9rem; }
  footer {
    padding: 1rem; }
    footer figure figcaption {
      font-size: 0.9rem; }
    footer footer .ulProductos li a {
      font-size: 0.9rem; } }

/* estilos celulares */
@media screen and (max-width: 500px) {
  header .navegacion ul li {
    padding: 0.2rem; }
    header .navegacion ul li a {
      font-size: 0.7rem; }
  footer figure .ulProductos li a {
    font-size: 0.7rem; } }

/* estilos del index */
.mainIndex {
  display: grid;
  grid-template-rows: 1fr 0.2fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;
  grid-template-areas: "banner banner" "titulo titulo" "imagenProducto textoProducto"; }
  .mainIndex .imagenBanner {
    grid-area: banner;
    object-fit: cover;
    width: 100%;
    height: 80%;
    align-self: start; }
  .mainIndex .tituloProducto {
    grid-area: titulo;
    justify-self: center;
    font-size: 2rem;
    color: #2e55a5; }
  .mainIndex .imagenProducto {
    grid-area: imagenProducto;
    justify-self: end;
    width: 80%; }
  .mainIndex .textoProducto {
    grid-area: textoProducto;
    font-size: 1rem; }
    .mainIndex .textoProducto span {
      font-size: 1.5rem;
      color: #2e55a5;
      font-weight: bold; }

/* estilos tablet */
@media screen and (max-width: 1000px) {
  .mainIndex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center; }
    .mainIndex .tituloProducto {
      margin-bottom: 4rem;
      margin-top: 4rem;
      font-size: 1.5rem; }
    .mainIndex .textoProducto {
      text-align: center;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 1rem; } }

/* estilos celular */
@media screen and (max-width: 500px) {
  .mainIndex {
    gap: 1rem; }
    .mainIndex .tituloProducto {
      margin-bottom: 1rem;
      font-size: 1rem; } }

/* estilos de la pagina contacto */
.mainContacto {
  display: flex;
  flex-direction: row;
  /* para centrar el form*/
  align-items: center;
  justify-content: space-evenly; }
  .mainContacto from {
    width: 20%;
    margin: 4rem; }
  .mainContacto .imagenJustConecta {
    width: 50vw;
    margin: 1rem; }

/* estilos contactos tablet*/
@media screen and (max-width: 1000px) {
  .mainContacto form {
    width: 50%;
    margin: 4rem; }
  .mainContacto img {
    display: none; } }

/* estilos puntos de ventas */
.puntosVentasSectionMapa {
  margin: 3rem; }
  .puntosVentasSectionMapa h2 {
    color: #2e55a5;
    margin: 1rem 0rem; }

.puntosVentasSectionMapa .mapa {
  width: 70vw;
  height: 50vh; }
