/* estilos de la pagina contacto */
.mainContacto{
    display: flex;
    flex-direction: row; 
    /* para centrar el form*/
    align-items: center;  
    justify-content:space-evenly; 
    .formulario form{
            width: 80%;
            margin: 4rem;
    }
    .imagenJustConecta{
        width: 50vw;
        margin: 1rem;
    }
}

  /* estilos contactos tablet*/
@media screen and (max-width: 1000px) {
  .mainContacto .formulario  form{
      width: 70%;
      margin: 2rem;       
  }
  
  .mainContacto img{
    display: none;
  }
}