/* estilos de la pagina contacto */
.mainContacto{
    display: flex;
    flex-direction: row; 
    /* para centrar el form*/
    align-items: center;  
    justify-content:space-between; 
    margin: 2rem 2em 2rem 5rem;
    
    .formulario form{
            width: 100%;       
            margin: 1rem;  
            label{
              margin: 0.5rem 0rem;
            }
            button{
              margin-top: 0.5rem;
            }   
    }
    .imagenJustConecta{
        width: 50vw;
    }
}

  /* estilos contactos tablet*/
@media screen and (max-width: 1000px) {
  .mainContacto {
    margin: 2rem 0rem;
    justify-content: center;
    align-items: center;
    .formulario form{
        width: 70%;
        margin: 0 auto;
    }
  }
  
  .mainContacto img{
    display: none;
  }
}