/* Estilos de productos */
.mainProductos{
    padding: 2rem;
    .carousel-item img {
        margin: 0 auto;
        max-height: 50%;
        max-width: 50%;
    }
}


/* estilos celular */
@media screen and (max-width: 500px) {
    /* Estilos de productos */
    .mainProductos #carouselProductos {
            display: none;
        }
}
