/* Estilos de productos */
.mainProductos{
    padding: 2rem;
    .carousel-item img {
        margin: 0 auto;
        max-height: 50%;
        max-width: 50%;
    }
    h1{
        text-align: center;
        margin: 6rem 0rem;
        color: $colorPrincipal;
    }
    .grillaProductos .col{
        img{
            width: 100%;
            
        }
        span{
            @include palbraResaltada(1rem)
        }
        p{
            font-size: $tamanioFontTablet;
            text-align: center;
        }
    }
}


/* estilos celular */
@media screen and (max-width: 500px) {
    .mainProductos {
        #carouselExampleDark {
            display: none;
        }
        .grillaProductos .col {
            margin: 1rem;
            p{    
                font-size: $tamanioFontTablet;
            }
            span{
                @include palbraResaltada($tamanioFontTablet)
            }
        }

    }
}
