/* estilos puntos de ventas */
main .puntosVentasMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    h2{
        color:$colorPrincipal;
        margin: 1rem 0rem;
    }
    .mapa{
        width: 70vw;
        height: 55vh;
    }

}