/* estilos puntos de ventas */
.puntosVentasSectionMapa {
    margin: 3rem;
    h2{
        color:$colorPrincipal;
        margin: 1rem 0rem;
    }
}

.puntosVentasSectionMapa .mapa{
    width: 70vw;
    height: 50vh;
}