//tama単o de las imagnes redes sociales
@mixin imgTama単oRedes{
    width: 20px;
    height: 20px;
}

@mixin flexHeaderFooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

@mixin coverCien{
    object-fit: cover;
    width: 100%;
}

@mixin palbraResaltada ($tama単o){
    font-size: $tama単o;
    color:$colorPrincipal;
    font-weight: bold;
}